<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        
        <h1>Page Not Found</h1>


        {% load static %}
        <img src="{% static 'drink_icon.jpeg' %}" alt="404 not found">

        <div>Page Not Found, return to</div>

        <a href="wwww.drink-companion.com">wwww.drink-companion.com</a>



        
    </body>
</html>

<style>

    h1 {
        margin: 0px;
    }

    body{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;

    }
</style>