


{% include "mainApp/pages/drinkPage/components/commentsList.html" %}

    <br><textarea id="comment_ta" maxlength="400"></textarea>

    <br><button id="postComment_button"  onclick=" postComment ( this ) " 
        > post
    </button>

<script>







function postComment ( el ) {

    if ( !user ) {

        toggle_loginModal( 'you must login to leave a comnment' );
        return
    }

    if ( comment_ta.value == '' ) {

        open_succeessModal ( { 'message':"Can't post blank comment"})
        return
    }

    // get drinkId //
    const drinkId = new URLSearchParams( window.location.search ).get('id');

    add_loadingSpinner_forButton ( el )

    // POST //

    const body = { 'drinkId':drinkId , 'commentText':comment_ta.value };

    fetch ( 'postComment/' , {

        method: 'POST',
        headers: { "X-CSRFToken":  getCookie('csrftoken') },
        
        body: JSON.stringify( body ),
    }) 
    .then((response) => response.json())
    .then((data) => {

        document.querySelector('#comments_container').innerHTML = data.commentList_HTML
        comment_ta.value = '' ;

        remove_loadingSpinner_forButton();
    })

    //  handle server error //

    .catch( (error) => {
        
        alert('500 internal server error')
        location.reload();
    });

}

function getComments ( drinkId ) {

    fetch ( `getComments?drinkId=${ drinkId }`)
    .then( ( response ) => response.text() )
    
    .then( ( text ) =>  document.querySelector('#comments_container').innerHTML = text);
}

</script>

<style>
            #drinkPage textarea{
           
           height: 80px;
       }
       #postComment_button{

           background-color: black;
           border: none;
           width:fit-content;
           color: white;
           align-self: flex-end;
       }
</style>