



{% load static %}

<img id="thumbDown" class="like_btn" src="{% static  'thumb_down.webp' %}" onclick="likeDrink('false' , this)" alt="thumbs down icon" >
<img id="thumbUp" class="like_btn" src="static/thumb_up.webp" onclick="likeDrink('true' , this)" alt="thumbs up icon" >





<script>

function paint_likeButtons(){

    const drinkId= new URLSearchParams( window.location.search ).get('id');
    
    



    thumbUp.src = ( likedDrinks.includes( drinkId ) ) ? 'static/thumb_up_color.webp' : 'static/thumb_up.webp';
    thumbDown.src = ( dislikedDrinks.includes( drinkId ) ) ? 'static/thumb_down_color.webp' : 'static/thumb_down.webp';
}

function likeDrink ( bool , el ){

    if ( user ) {

        // get drinkId //
        const drinkId= new URLSearchParams( window.location.search ).get('id');
        
        // update variables //
        if (bool=='true') {
            likedDrinks = (likedDrinks.includes(drinkId)) ? likedDrinks.filter(i => i != drinkId) : [...likedDrinks, drinkId ];
            dislikedDrinks = dislikedDrinks.filter(i => i != drinkId);}
        else {
            dislikedDrinks = ( dislikedDrinks.includes(drinkId) ) ? dislikedDrinks.filter(i => i != drinkId) : [...dislikedDrinks, drinkId ];
            likedDrinks = likedDrinks.filter(i => i != drinkId);};


        // update UI //
        paint_likeButtons();
        

        // update db //

        const body = { 'drinkId':drinkId , liked:bool};

        fetch ( 'likeDrink/' , {

            method: 'POST',
            headers: { "X-CSRFToken":  getCookie('csrftoken') },

            body: JSON.stringify( body ),
        }) 
        .then((response) => response.json())
        // .then((data) => {console.log(data.message);})
        //  handle server error //

        .catch( (error) => {
            console.log( String(error) );
            alert('500 internal server error')

            location.reload();
        });
    }

    else {
        toggle_loginModal( 'login to keep track of liked drinks' )
    }
}
</script>

<style>

    .like_btn{

        width: 29px;
        cursor: pointer;

    }

</style>