<!-- component  header -->
<header id="header" style="max-width: 99%; display:flex;">
            
    <!-- Hamburger -->
    {% include "mainApp/components/header/sideBarMenu.html" %}
    

    <!-- center logo -->
    <div id="header_logo"
        style="margin-inline: auto; font-size: 1.8rem;cursor: pointer;"
        onclick="navigate_to ( '/' , event )"
    >
        Drink Companion
    </div>


    
    
    
    
    
    
    
    <!-- login - top-right -->
    <top-right 
        style = "margin:8px; cursor:pointer; display: flex; align-items: center; gap:8px;"
        onClick= "
            if (user) 
                {navigate_to( '/profilePage' , event);}
            else
               { toggle_loginModal();}
        "
    >
        <!-- { user ? 'userName' : 'login / sign-up'} -->

    

        <img src="/static/account_icon.png" style="width:24px;" alt="account icon">

        <div id="username_div" style="align-self: flex-end;">

            {% if user.is_authenticated %}
                {{user.username}}
            {% else %}
                Login
            {% endif %}

        </div>
        
    </top-right>
</header>

<style>
    #header{
        height: 57px;
        align-items:center;
        /* height: 58px;
        align-items:center; */
    }

    @media (max-width: 400px){

        #username_div{
            display: none;
        }
    }
    
</style>

