


{% for comment in comments%}
<div class="comment_card">

    <div class="comment_username">Robert</div>
    <div class="comment_text">ffguiuvcdjbvceetujjffguiuvcdjbvceetujj</div>

    <div class="comment_date">{{ comment.pub_date }}</div>
</div>


{% endfor %}
<div class="comment_card">

    <div class="comment_username">Robert</div>
    <div class="comment_text">ffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujjffguiuvcdjbvceetujj</div>

    <div class="comment_date">thu 10/19 11:11r</div>
</div>

<style>









    .comment_card {

        border: 1px solid rgba(208, 207, 207, 0.61);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 4px;
    }
    .comment_card * {
        margin: 4px;
    }

    .comment_username {
        font-weight: bold;
    }

    .comment_text {
        margin: 14px;
        word-wrap: break-word;
    }
    .comment_date {
        font-size: small;
    }
</style>