



{% load static %}

<!-- drink-page -->
    <div id="drinkPage"><br>

        <input id="search-bar" type="text" placeholder="search....">
        <br>
        
        <img id="drinkPage_img" src="https://www.thecocktaildb.com/images/media/drink/b522ek1521761610.jpg" alt="drink-image">

        <div id="like_buttons">
            <img class="like_btn" src="{% static  'thumb_down.webp' %}" alt="">
            <img class="like_btn" src="static/thumb-up.webp" alt="">
        </div>

        <h1 id="drinkPage_drinkName">Drink Name</h1>

        <div class='drinkPage_title'>Ingredients:
            <span id='drinkPage_ingredients'></span> </div>


        <br><div class='drinkPage_title'>Directions:
            <span id='drinkPage_directions'></span> </div>



    </div>
    
    <style>
        #drinkPage{

            display: flex;
            flex-direction: column;

            opacity:0;
            transition: opacity 400ms;
            /* align-self: center; */
            align-items: center;
            /* width: 400px; */
        }
        #drinkPage_img{
            width:400px;
            aspect-ratio: 1;
        }

        #like_buttons{
            width:400px;
            display: flex;

            justify-content: end;
            margin-top: 5px;
        }

        .like_btn{
            width: 29px;
        }

        .drinkPage_title{

            font-size: 19px;
            width: 650px;

            font-weight:bold;
        }

        #drinkPage span{
            font-weight: normal;
        }
    </style>