


<div id='drink_list'>

    <script>
      let current_letter = '';


      for (const drink of allDrinks){

          // add letter
          if(current_letter != drink.strDrink[0].toUpperCase()){

            current_letter = drink.strDrink[0].toUpperCase();

            const newDiv = document.createElement("div");
            newDiv.classList.add('letter');
            newDiv.innerHTML = current_letter;
            drink_list.appendChild(newDiv);

          }


          // format ingredient list
          let formatted_ingredients = drink.ingredients.map(i => `<a href="/i?i=${i.replace(' ','_')}">${i}</a>`)
          
          console.log(formatted_ingredients);

          // add drink
          const drinkDiv = document.createElement("div");

          drinkDiv.classList.add('a-card', 'a-card_hidden');
          drinkDiv.onclick = ()=> navigate_to_drink_page(drink.idDrink);

          drinkDiv.innerHTML = `

                <img class='drink-img' src="${drink.strDrinkThumb}" alt="${drink.strDrink}" 
                    style="width:19vmin; aspect-ratio:1;"/>

                <div id="${drink.idDrink}" class='drink-details'>
                    <strong>${drink.strDrink}</strong>
                    <div style="margin-top:auto;">${formatted_ingredients.join(", ")}</div>
                </div>
          `;

          drink_list.appendChild(drinkDiv);
      }
      
      </script>
</div>

      <style>

        #drink_list{

            width: 82%;

            display: flex;
            flex-wrap: wrap;

            row-gap: 14px;
            justify-content: space-between;
        }

        .letter{

            font-size: 54px;
            width: 100%;
        }

        .a-card{
          transition: 1.4s;
          display: flex;
          width: 480px;
          border: 1px solid rgba(208, 207, 207, 0.61);
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          opacity: 1;
        }

        .a-card_hidden{

          transition: 1.4s;
          transform: translateX(-100%);

          opacity: 0;
        }

        .drink-img{
          border: 1px solid black;
          /* margin: 18px; */

          width: 143px;
        }

        .drink-details{

          /* padding-left: 19px; */

          display: flex;
          flex-direction: column;

          padding: 19px;
          padding-bottom: 8px;

        }

      </style>

      <script>

        const observer = new IntersectionObserver((a_cards)=>{
          a_cards.forEach((card)=>{

            console.log(card.isIntersecting);
            if (card.isIntersecting){
              
              card.target.classList.remove('a-card_hidden');

            }

            // else
            // card.target.classList.add('a-card_hidden');
          
          })
        })

        document.querySelectorAll('.a-card').forEach((el)=> observer.observe(el));
  
      </script>
