



{% load static %}

<!-- drink-page -->
    <div id="drinkPage" class="page"><br>

        <input id="search-bar" type="text" placeholder="search....">
        <br><br><!--search bar-->
        
        <!-- img -->
        <img id="drinkPage_img" src="https://www.thecocktaildb.com/images/media/drink/b522ek1521761610.jpg" alt="drink-image">

        <div id="like_buttons">
            <img class="like_btn" src="{% static  'thumb_down.webp' %}" alt="">
            <img class="like_btn" src="static/thumb-up.webp" alt="">
        </div>

        <!-- drink name -->
        <h1 id="drinkPage_drinkName">Drink Name</h1>

        <!-- info container -->
        <div id="drinkPage_container">

            <div class='drinkPage_data'>Ingredients:
                <span id='drinkPage_ingredients'></span> </div>

            <br><div class='drinkPage_data'>Directions:
                <span id='drinkPage_directions'></span> </div>


            <br><div class='drinkPage_data'>Comments:</div>
            <div id="comments_container"></div>

            <br><textarea name="" id=""></textarea>
            <button id="postComment_button">post</button>

        </div>



    </div>
    
    <style>
        #drinkPage{

            display:  none;
            flex-direction: column;

            opacity:0;
            transition: opacity 400ms;
            /* align-self: center; */
            align-items: center;
            /* width: 400px; */
        }
        #drinkPage_img{
            width:400px;
            aspect-ratio: 1;
        }

        #like_buttons{
            width:400px;
            display: flex;

            justify-content: end;
            margin-top: 5px;
        }

        .like_btn{
            width: 29px;
        }

        .drinkPage_data{

            font-size: 19px;
            /* width: 650px; */

            font-weight:bold;
        }

        #drinkPage_container{

            width: 96vw;
            max-width: 600px;
            display: flex;
            flex-direction: column;
        }

        #drinkPage span{
            font-weight: normal;
        }
        #drinkPage a{

            text-decoration: none;
            color: #0E26B1;

            font-style: italic;
        }
        #drinkPage textarea{
           
            height: 80px;
        }
        #postComment_button{

            background-color: black;
            border: none;
            width:fit-content;
            color: white;
            align-self: flex-end;
        }
    </style>