


<div id="loginModalContainer_div" class="loginModalContainer_div" onclick="if(event.target == this) toggle_loginModal()">
  <div id='loginModal' onclick="return false;" class="loginModal">

    <h1 id="modal_title"> Login </h1>

    <div id="modalAlert" class="modalAlert" style="color: red;"></div>

    <div class='login-input-title'>username:</div>
    <input type="text" id="username_input" class="login-input" maxlength="14"/>
    <div class='login-input-title'>password</div>
    <input type="password" id="password_input" class="login-input" maxlength="14" />

    <!-- phrase -->
    <div style="align-self:flex-end; margin-right:10%;margin-bottom:29px">
      
        <span id="loginModal_phrase_span"> Dont have an account?</span>

        <span id="loginType_span" style= "color:blue; cursor:pointer;"
          onClick = " toggle_loginModal_state(this) " >
          create account
        </span>

    </div>

    <!-- button -->
    <button id="loginModal_button"

      class='login-input loginModal_button'
      onClick = " modalButton('login/') " 
      
      >

      <div id="loginModal_button_loader"></div>
      <span id="loginModal_button_text"> Login </span>

    </button>

  </div>
</div>

<script>


  let loginModal_state = 'login';
  
  function toggle_loginModal_state(link) {

    const state = {createAccount:'login', login:'createAccount'}
    loginModal_state = state[loginModal_state]

    const option = {

      createAccount: ['Create Account','Already have an account? ','login','Create Account'],
      login: ['Login', 'Dont have an account? ', 'create account', 'Login',]

    };

    [
      modal_title.innerText,
      loginModal_phrase_span.innerText,
      link.innerText,
      loginModal_button_text.innerText,
    
    ] = option[loginModal_state];

    loginModal_button.setAttribute('onclick', `modalButton('${loginModal_state}/')` );

    //clear error message
    loginModal.classList.remove('has_alert'); modalAlert.innerText = '';
    
  }

function toggle_loginModal(message =''){

  //clear fields
  $('#loginModal input').forEach( i => i.value = '' )

  loginModal_button_loader.classList.remove('loader');
  loginModal_button.style['color'] = 'white';

  // Set modal alert (blank if none)
  document.querySelector('.modalAlert').innerHTML = message;

  if(message){
    loginModal.classList.add('has_alert')}
  else 
    loginModal.classList.remove('has_alert')


  // Qoggle modal
  loginModalContainer_div.classList.toggle('modalContainer_open');
  loginModal.classList.toggle('loginModal_open');
  


}

function modalButton(url){


  loginModal_button_loader.classList.add('loader');
  loginModal_button.style['color'] = 'black';

  loginModal.classList.remove('has_alert');
  modalAlert.innerHTML = '';



  //form validation
  if( !username_input.value || !password_input.value ) {
    handle_error('fields cant be blank');
    return
  }




  
  
  
  //post-reqst
  fetch( url , {
    method: 'POST',
    headers: {
      // 'Content-Type': 'application/json',
      "X-CSRFToken":  getCookie ('csrftoken')
    },
    // credentials: 'include',
    body: JSON.stringify( {

      username:username_input.value , 
      password:password_input.value} ),

  } )
    .then((response) => response.json())
    .then((data) => {

      if(data.successful == 'true'){

        toggle_loginModal();
        open_succeessModal(data);
        // console.log(data);
        username_div.innerText = data.username;
        user = true;
      }
      else{
        handle_error(data.message);
      }
     
      
    })
    .catch((error) => {
      
      handle_error ('500 intefnal server error');
      console.log(String(error));
    });



    //helper fuctions
    function handle_error (error_message){
      loginModal.classList.add('has_alert');
      modalAlert.innerHTML = error_message;
      loginModal_button_loader.classList.remove('loader');
      loginModal_button.style['color'] = 'white';
    }


    /* Open Success Modal*/
    function open_succeessModal (data){
      console.log('99999');
      let successModal = document.createElement('div');

      successModal.style = 'height:100vh; width:100vw; display: flex;flex-direction: column;align-items: center;justify-content: center;position: fixed; z-index: 9999;';
      successModal.id = "successModal_container"
      
      successModal.innerHTML = `

            <div id="successModal" onclick="this.parentNode.remove()">

              <h1> ${data.message} </h1>
              <h1 style="margin-top: 0;"> ${data.username}</h1>

              <button style="width: 99px;height: 29px;color:white; background-color:black;margin-top: 8px;font-size: 19px;">ok</button>
            
            </div>
        
        `
            
        app.append(successModal);
        console.log('llllk');

        // successModal_container.onclick ='this.remove()';
    }

  
}

</script>

<style>

#successModal{

  position: fixed;
  width: 470px;
  height: 250px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

#login-modal h1{
  margin: 0;

  margin-bottom: 10px;
}

.loginModalContainer_div{

  background-color: rgb(126, 126, 126, 0);height:100vh; width:100vw; display: flex;flex-direction: column;align-items: center;justify-content: center;position: fixed;pointer-events: none;
}

.loginModal{

  position: fixed;
  /* top:14%; */
  min-width: 370px;
  aspect-ratio: .9;
  /* padding-top: 24px;
  padding-bottom: 40px; */
  opacity: 0;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
  z-index: 99;
  display: flex;
  flex-direction: column;
  /* padding-left: 51px; */
  align-items: center;
  justify-content: center;
  gap: 8px;
  pointer-events: none;
  transform: translateY(-14%);
}

.has_alert{

  aspect-ratio: unset;

  padding-top: 24px;
  padding-bottom: 40px;

}

.loginModal_open{

  opacity: 1;
  top:14%;
  transform: translateY(0);
  pointer-events: all;
  transition: opacity 400ms;
  transition: transform 400ms;


}

.login-input{

  width: 80%;
  font-size: large;
  padding: 8px;
  border-radius: 19px;
  /* margin-inline: auto; */
  text-align: center;

}

#modal_title{
  margin: 19px;
  margin-bottom: 24px;
}

.loginModal_button{
  
  background-color:black;
  color:white;

}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid black; 
  border-radius: 50%;
  width: 19px;
  height: 19px;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 165px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modalContainer_open{

  animation: modalContainer_animation .4s;
  pointer-events: all;

  background-color: rgb(126, 126, 126, .4);
}

@keyframes modalContainer_animation{

  0%{background-color: rgb(126, 126, 126, 0)}
  100%{background-color: rgb(126, 126, 126, .4);}

}
  </style>