


<div id="loginModalContainer_div" class="loginModalContainer_div" onclick="if(event.target == this) toggle_loginModal()">
  <div id='loginModal' onclick="return false;" class="loginModal">

    <h1 id="modal_title"> Login </h1>

    <div class="modalAlert" style="color: red;"></div>

    <div class='login-input-title'>username:</div>
    <input type="text" id="username_input" class="login-input"/>
    <div class='login-input-title'>password</div>
    <input type="password" id="password_input" class="login-input"/>

    <!-- phrase -->
    <div style="align-self:flex-end; margin-right:10%;margin-bottom:29px">
      
        <span id="loginModal_phrase_span"> Dont have an account?</span>

        <span id="loginType_span" style= "color:blue; cursor:pointer;"
          onClick = " toggle_loginModal_state(this) " >
          create account
        </span>

    </div>

    <!-- button -->
    <button id="loginModal_button"

      class='login-input'
      
      style="
        background-color:black;
        color:white;
      "

      onClick = " modalButton('local') "
      
      >
        Login
    </button>

  </div>
</div>

<script>


  let loginModal_state = 'login';
  
  function toggle_loginModal_state(link) {

    const state = {createAccount:'login', login:'createAccount'}
    loginModal_state = state[loginModal_state]

    const option = {

      createAccount: ['Create Account','Already have an account? ','login','Create Account'],
      login: ['Login', 'Dont have an account? ', 'create account', 'Login']

    };

    [
      modal_title.innerText,
      loginModal_phrase_span.innerText,
      link.innerText,
      loginModal_button.innerText
    
    ] = option[loginModal_state];
    
  }

function toggle_loginModal(message =''){

  // Set modal alert
  document.querySelector('.modalAlert').innerHTML = message;

  if(message){
    loginModal.classList.add('has_alert')}
  else 
    loginModal.classList.remove('has_alert')


  // Qoggle modal
  loginModalContainer_div.classList.toggle('modalContainer_open');
  loginModal.classList.toggle('loginModal_open');
  


}

function modalButton(url){

  
}
</script>

<style>

#login-modal h1{
  margin: 0;

  margin-bottom: 10px;
}

.loginModalContainer_div{

  background-color: rgb(126, 126, 126, 0);height:100vh; width:100vw; display: flex;flex-direction: column;align-items: center;justify-content: center;position: fixed;;pointer-events: none;
}

.loginModal{

  position: fixed;
  /* top:14%; */
  min-width: 370px;
  aspect-ratio: .9;
  /* padding-top: 24px;
  padding-bottom: 40px; */
  opacity: 0;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
  z-index: 99;
  display: flex;
  flex-direction: column;
  /* padding-left: 51px; */
  align-items: center;
  justify-content: center;
  gap: 8px;
  pointer-events: none;
  transform: translateY(-14%);
}

.has_alert{

  aspect-ratio: unset;

  padding-top: 24px;
  padding-bottom: 40px;

}

.loginModal_open{

  opacity: 1;
  top:14%;
  transform: translateY(0);
  pointer-events: all;
  transition: opacity 400ms;
  transition: transform 400ms;


}

.login-input{

  width: 80%;
  font-size: large;
  padding: 8px;
  border-radius: 19px;
  /* margin-inline: auto; */
  text-align: center;

}

#modal_title{
  margin: 19px;
  margin-bottom: 24px;
}


.modalContainer_open{

  animation: modalContainer_animation .4s;
  pointer-events: all;

  background-color: rgb(126, 126, 126, .4);
}

@keyframes modalContainer_animation{

  0%{background-color: rgb(126, 126, 126, 0)}
  100%{background-color: rgb(126, 126, 126, .4);}

}
  </style>