<!-- PAGE - homePage -->
<div id="homePage" class="page" data-page="/">
  
  <!-- logo -->
  <div id="mainLogo">
    <img src="static/drinks_background_blur.png" alt="" id="bg_img" />
  </div>

  <!-- title -->
  <h1>Drink Companion</h1>

  <!-- search bar -->
  {% include "mainApp/components/searchBar.html" %}

  <!-- Top Drinks -->
  {% include "mainApp/pages/homePage/components/topDrinks.html" %}

  <!-- All Drinks -->
  {% include "mainApp/pages/homePage/components/drink_list.html" %}
</div>

<script>
  function populate_home() {
    addIntersectionObserver();
    header_logo.innerText = " ";
  }
</script>

<style>
  #homePage h1 {
    /* font-family: sans-serif; */
    font-size: 44px;

    margin-top: 0px;
  }

  #homePage {
    display: none;
    flex-direction: column;
    width: 100vw;
    max-width: 1400px;
    align-items: center;
    opacity: 1;
    transition: opacity 470ms;
  }

  #bg_img {
    max-height: 164px;
    max-width: 499px;
    width: 99vw;

    /* background-image: url('drinks_background.png'); */
    /* box-shadow: 0 0 8px 8px white inset; */

    z-index: 9;

    /* background-size: cover; */
  }
  #mainLogo {
    box-shadow: 0 0 8px 8px white inset;
    z-index: -9;
  }

  
</style>

