


<div id="browsePage" class="page" data-page="/browse">

    <h1 id="browseName">Error</h1>

    <div id="browseResults"></div>


</div>


<script>

function populate_browsePage(){

    let ig = new URLSearchParams( window.location.search ).get('i').replace('_', ' ');
    let filteredDrinks = allDrinks.filter( (i) =>(i.ingredients.includes(ig) ) );

    browseName.innerHTML = ig;
    browseResults.innerHTML= '';


    for (const drink of filteredDrinks){

        // format ingredient list
        let formatted_ingredients = drink.ingredients.map(i => 

            `<div class='link'
                onclick= " navigate_to( '/browse?i=${i.replace(' ','_')}' , event ) "> ${i}</div>`

        );
        
        // add drink
        const drinkDiv = document.createElement("div");

        drinkDiv.classList.add('a-card', 'a-card_hidden');
        drinkDiv.onclick = ()=> navigate_to( `drink?id=${drink.idDrink}`);

        drinkDiv.innerHTML = `

              <img class='drink-img' src="${drink.strDrinkThumb}" alt="${drink.strDrink}" 
                  style="width:19vmin; aspect-ratio:1;"/>

              <div id="${drink.idDrink}" class='drink-details'>
                  <strong>${drink.strDrink}</strong>
                  <div style="margin-top:auto;">${formatted_ingredients.join(", ")}</div>
              </div>
        `;

        document.querySelector('#browseResults').appendChild(drinkDiv);
    }

    addIntersectionObserver();

}
    </script>

<style>

    #browsePage{
        display: none;
        flex-direction: column;
        opacity: 0;
        transition: opacity 400ms;

    }
    #browse_name{

    }

    #browseResults{

        display: flex;
        flex-wrap: wrap;

        row-gap: 14px;
        gap: 14px;
        
        justify-content: center;
    }

    #browseResults .a-card{

        width: 400px;

        }

</style>