



{% load static %}

<!-- drink-page -->
    <div id="drinkPage" class="page" data-page="/drink"><br>

        <input id="search-bar" type="text" placeholder="search....">
        <br><br><!--search bar-->
        
        <!-- img -->
        <img id="drinkPage_img" src="https://www.thecocktaildb.com/images/media/drink/b522ek1521761610.jpg" alt="drink-image">

        <div id="like_buttons">
            <img class="like_btn" src="{% static  'thumb_down.webp' %}" onclick="likeDrink('false' , this)">
            <img class="like_btn" src="static/thumb_up.webp" onclick="likeDrink('true' , this)">
        </div>

        <!-- drink name -->
        <h1 id="drinkPage_drinkName">Drink Name</h1>

        <!-- info container -->
        <div id="drinkPage_container">

            <div class='drinkPage_data'>Ingredients:
                <span id='drinkPage_ingredients'></span> </div>

            <br><div class='drinkPage_data'>Directions:
                <span id='drinkPage_directions'></span> </div>


            <br><div class='drinkPage_data'>Comments:</div>
            <div id="comments_container"></div>

            <br><textarea name="" id="" maxlength="400"></textarea>

            <button id="postComment_button" 
                onclick="toggle_loginModal('you must login to leave a comnment')"

            > post
            </button>

        </div>



    </div>

    <script>

    function update_drinkPage(){

        const drinkId= new URLSearchParams( window.location.search ).get('id');

        const drink = allDrinks.find( (i) =>(i.idDrink == drinkId ) );

        drinkPage_drinkName.innerHTML = drink.strDrink;
        drinkPage_img.src = drink.strDrinkThumb;
        drinkPage_ingredients.innerHTML = drink.ingredients.map((ig, i) => drink.measures[i] + `<a onclick="navigate_to( '/browse?i=${ig.replace(' ','_')}' , event ) " > ${ig}</a>` ).join(', ')
        drinkPage_directions.innerHTML = drink.strInstructions;

        header_logo.innerText = 'Drink Companion';

    }

    function likeDrink ( bool , el ){

        //set both black
        $('.like_btn').forEach( el => el.src = el.src.replace('_color','') );

        const drinkId= new URLSearchParams( window.location.search ).get('id');

        const body = { 'drinkId':drinkId , liked:bool};

        fetch ( 'likeDrink/' , {
            method: 'POST',
            headers: { "X-CSRFToken":  '{{ csrf_token }}' },
            body: JSON.stringify( body),

        }) .then((response) => response.json())
            .then((data) => {
                console.log('llk', data);
                
                el.src = el.src.includes('_c') ? el.src.replace('_color','') : el.src.replace('.' , '_color.')

            })
            .catch( (error) => console.log(error) );
    }

    </script>
    
    <style>
        #drinkPage{

            display: none;
            flex-direction: column;

            opacity:0;
            transition: opacity 400ms;
            /* align-self: center; */
            align-items: center;
            /* width: 400px; */
        }
        #drinkPage_img{
            width:400px;
            aspect-ratio: 1;
        }

        #like_buttons{
            width:400px;
            display: flex;

            justify-content: end;
            margin-top: 5px;
        }

        .like_btn{
            width: 29px;
        }

        .drinkPage_data{

            font-size: 19px;
            /* width: 650px; */

            font-weight:bold;
        }

        #drinkPage_container{

            width: 96vw;
            max-width: 600px;
            display: flex;
            flex-direction: column;
        }

        #drinkPage span{
            font-weight: normal;
        }
        #drinkPage a{

            text-decoration: none;
            color: #0E26B1;

            font-style: italic;
            cursor: pointer;
            
        }
        #drinkPage textarea{
           
            height: 80px;
        }
        #postComment_button{

            background-color: black;
            border: none;
            width:fit-content;
            color: white;
            align-self: flex-end;
        }
    </style>