


<div id="profilePage" class="page" data-page="/profilePage">

    <h1 id="profilePage_username">Robert</h1>

    <h1>Liked Drinks</h1>
    <div id="profilePage_likedDrinks"><h2>No liked drinks</h2></div>

    <h1>Disliked Drinks</h1>
    <div id="profilePage_dislikedDrinks"><h2>No disliked drinks</h2></div>

</div>

<style>

    #profilePage{
        display: flex;
        flex-direction: column;
    }

    #profilePage_username{
        margin: 24px;

        font-size: 40px;
    }






#profilePage_username{
    margin-left: auto;
}
</style>