


<div id="profilePage" class="page" data-page="/profilePage">

    <div class="profilePage_header">

        <h1 id="profilePage_username">Robert</h1>
    
        <div class="profilePage_buttons">
    
            {% include 'mainApp/profileButtons.html' %}

        </div>

    </div>

    





    <h1>Liked Drinks</h1>
    <div id="profilePage_likedDrinks" class="profilePage_row" ></div>
    
    <h1>Disliked Drinks</h1>
    <div id="profilePage_dislikedDrinks" class="profilePage_row" ></div>

</div>









<script>

    function update_profilePage (){

        profilePage_likedDrinks.innerHTML = profilePage_paint_list( likedDrinks ) || '<h2>No liked drinks</h2>';
        profilePage_dislikedDrinks.innerHTML = profilePage_paint_list( dislikedDrinks ) || '<h2>No disliked drinks</h2>';

        // console.log(likedDrinks.find(i=>i.));
    }


    function profilePage_paint_list ( list ) {

        if ( list.length == 0 ) {
            return
        }

        let liked_list_objects = list.map( i => allDrinks.find( j => j.idDrink == i ) )

        let html = liked_list_objects.map( drink => (`
        
            <div class="profilePage-card" onclick= "navigate_to( 'drink?id=${drink.idDrink}' , event)" >

                    <img src= "${ drink.strDrinkThumb }" alt="${ drink.strDrink }">
                    <div>${ drink.strDrink }</div>

            </div>
            
        `));

        return html
    }


</script>

<style>

    #profilePage{

        display: flex;
        flex-direction: column;
        
    }

    .profilePage_header {
        margin: 24px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }

    #profilePage_username{

        
        margin-bottom: 14px;
        font-size: 40px;
    }

    .profilePage_buttons {

        display: flex;
        gap: 4px;
    }
        

    #button_spinner_container {
        position: absolute;
        background-color: inherit;
        display: flex;
        justify-content: center;
    }

    .spinner {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid black; 
        border-radius: 50%;
        height: 70;
        aspect-ratio: 1;
        animation: spin 1s linear infinite;

    }

    #profilePage h2 {
        font-style: italic;

    }

    .profilePage_row{

        width: 100%;
        height: 299px;
        display: flex;
        overflow: auto;
        gap: 4px;
    }

    .profilePage-card {

        width: 240px;
        /* height: 299px; */
        padding-bottom: 8px;
        transition: .2s;
        text-align: center;

    }
    .profilePage-card:hover{

        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
        width: 242px;

    }

    .profilePage-card img {

        width: 100%;
        border: 1px solid black;
    }

    

</style>

















<script>

function add_loadingSpinner_forButton ( el ) {
    
    let cs = getComputedStyle(el);
    
    let padding_inline = parseFloat( cs['padding-left'] ) + parseFloat( cs['padding-right'] );
    let padding_block = parseFloat( cs['padding-top'] ) + parseFloat( cs['padding-bottom'] );
    
    
    
    
    
    
    
    
    
    
    
    //create spinner
    let spinner = document.createElement('div');

    spinner.style['width'] = el.clientWidth - padding_inline + 'px' ;
    spinner.style['height'] = el.clientHeight- padding_block + 'px' ;
    spinner.id = 'button_spinner_container' ;
    spinner.innerHTML = '<div class="spinner"></div>' ;
    el.prepend(spinner);
}

function remove_loadingSpinner_forButton () {

    document.querySelector( '#button_spinner_container' ).remove;
}



</script>